<div>
    {{msg}}
    <a href="#login-view" ng-show="msg">view details</a>
    
        
</div>

            <form method ="post" ng-submit="showing()">
            Name:<input type="text" ng-model="uname" name="uname"><br>
            password:<input type="password" ng-model="pwd" name="pwd"><br>
            <input type="submit" name="submit" value="submit">
            </form>