<div class="cont">
  <div class="demo">
    <div class="login">
      <div class="login__check" ng-controller="profileController"></div>    
      <from method ="post" ng-submit="login()">
                <div class="login__form">
              <div class="login__row"> <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                    <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
                    </svg>
                    <input type="text" ng-model="empid" name="empid" class="login__input name" placeholder="Username"/>
              </div>
              <div class="login__row"> <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
                    <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
                    </svg>
                    <input type="password" ng-model="pwd" name="pwd" class="login__input pass" placeholder="Password"/>
              </div>
              <input type="submit" name="submit" value="submit" class="login__submit" ng-click="login(empid,pwd)"/>
              <p class="login__signup"><a>Forgot password?</a></p>
              </div>
      </from>
    </div>
  </div>
</div>