<script src="assets/js/modern.min.js"></script>
<script src="assets/js/pages/charts-flot.js"></script>

<div class="page-inner">
  <div class="page-title">
    <h3>Leave Application</h3>
    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Leave Application</a></li>
      </ol>
    </div>
  </div>
  <div id="main-wrapper">

    <!-- Row -->
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-white">
          <div class="panel-heading clearfix">
            <h4 class="panel-title">Leave Application</h4>
          </div>
          <div class="panel-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2 control-label">Type</label>
                <div class="col-sm-10">
                  <select class="form-control form-white selectpicker"
                          id="leave-category"
                          ng-model="leave_type">
                    <option value="">Select job category</option>
                    <option value="paid">Paid</option>
                    <option value="sick">Sick</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">From</label>
                <div class="col-sm-10">
                  <md-datepicker ng-model="leave_from"
                                 md-min-date="minDate"
                                 md-max-date="maxDate"
                                 md-placeholder="enter date">
                  </md-datepicker>
                </div>
              </div>


              <div class="form-group">
                <label class="col-sm-2 control-label">To</label>
                <div class="col-sm-10">
                  <md-datepicker ng-model="leave_to"
                                 md-min-date="leave_from"
                                 md-max-date="maxDate"
                                 md-placeholder="enter date">
                  </md-datepicker>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="inputPassword3">Reason</label>
                <div class="col-sm-10">
                  <input type="text"
                         ng-model="leave_description"
                         placeholder="Enter Something"
                         id="inputPassword3"
                         class="form-control">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button class="btn btn-success" type="submit" ng-click="applyLeave()">Apply</button>
                  <button class="btn btn-success" type="submit" ng-click="goToLeavesPage()">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Row -->

    <!-- Row -->

  </div>
  <!-- Main Wrapper -->
  <div class="page-footer">
    <p class="no-s">2016 &copy; Oompfh</p>
  </div>
</div>
<!-- Page Inner -->