<div class="page-inner">
    <div class="page-title">
        <h3>Birthday Wishes</h3>

        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Birthday wishes</a></li>
            </ol>
        </div>
    </div>
    <div id="main-wrapper">

        <!-- Row -->

        <div class="row">
            <div class="panel panel-white">

                <div class="panel-body">
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul role="tablist" class="nav nav-tabs nav-justified">
                            <li class="active" role="presentation"><a data-toggle="tab" role="tab" href="#All"
                                                                aria-expanded="false">ALL</a></li>
                            <li role="presentation" class=""><a data-toggle="tab" role="tab" href="#Upcoming"
                                                                aria-expanded="false">UPCOMING</a></li>
                        </ul>-
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div id="All" class="tab-pane fade active in" role="tabpanel">
                                <p>
                                <div class="panel-body" ng-controller="profileViewController" >
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Picture</th>
                                            <th>Name</th>
                                            <th>DOB</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="birthdaydates in dates ">


                                            <td style="line-height:50px;" ><img src="assets/images/{{birthdaydates.photo || 'default.png'}}"
                                                                               width="40" height="40" alt="" /></td>
                                            <td style="line-height:50px;">{{birthdaydates.employee_name}}</td>
                                            <td style="line-height:50px;">{{birthdaydates.birthday|date:"dd-MMM"}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                </p>
                            </div>
                            <div id="Upcoming" class="tab-pane fade" role="tabpanel">
                                <p>

                                <div class="panel-body">

                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Picture</th>
                                            <th>Name</th>
                                            <th>DOB</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="birthdaydates in dates | inMonthRange   ">
                                            <td style="line-height:50px;"><img src="assets/images/{{birthdaydates.photo || 'default.png'}}"
                                                                               width="40" height="40" alt=""/></td>
                                            <td style="line-height:50px;">{{birthdaydates.employee_name}}</td>
                                            <td style="line-height:50px;">{{birthdaydates.birthday |date:"dd-MMM" }}</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->

        <!-- Row -->

    </div>
    <!-- Main Wrapper -->
    <div class="page-footer">
        <p class="no-s">2016 &copy; Oompfh.com</p>
    </div>
</div>
<!-- Page Inner -->