<div class="page-inner">
  <div class="page-title">
    <h3>Change Password</h3>

    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Change password</a></li>
      </ol>
    </div>
  </div>
  <div id="main-wrapper">

    <!-- Row -->

    <div class="row">
      <div class="panel panel-white">

        <div class="panel-body">
          <div role="tabpanel">
            <div class="table-responsive">
              <div class="form-group" style="margin-bottom:30px; float:left;">
                <div class="col-sm-8" style="padding:3px;">
                  <input type={{pwdtype}} ng-model="newpwd" placeholder="Enter Your New Password" class="form-control"
                         id="input-Default">
                </div>
               
                  
                <div class="col-sm-8" style="padding:3px;text-color:gray;">
                  <input type="checkbox" ng-model="pwdchk" class="form-control"
                         id="input-Default" ng-click="pwdtype='text'">show Password
                </div>  
                             
                <div class="col-sm-8" style="padding:3px;">
                  <label for="input-Default" class="col-sm-3 control-label" style="padding-left:0px;">
                    <button type="submit" class="btn btn-success" ng-click="changepwd();">CHANGE PASSWORD</button>
                  </label>
                </div>
              </div>
            </div>

           
              
              
              
              
            
                   

                  
                </div>
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Row -->

    <!-- Row -->

  </div>
  <!-- Main Wrapper -->
  <div class="page-footer">
    <p class="no-s">2016 &copy; Oompfh.com</p>
  </div>
</div>


<!-- Javascripts -->
<script src="assets/plugins/jquery/jquery-2.1.4.min.js"></script>
<script src="assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/plugins/switchery/switchery.min.js"></script>
<script src="assets/plugins/uniform/jquery.uniform.min.js"></script>
<script src="assets/plugins/offcanvasmenueffects/js/classie.js"></script>
<script src="assets/plugins/offcanvasmenueffects/js/main.js"></script>
<script src="assets/plugins/waves/waves.min.js"></script>
<script src="assets/plugins/3d-bold-navigation/js/main.js"></script>
<script src="assets/plugins/jquery-mockjax-master/jquery.mockjax.js"></script>
<script src="assets/plugins/moment/moment.js"></script>
<script src="assets/plugins/datatables/js/jquery.datatables.min.js"></script>
<script src="assets/plugins/x-editable/bootstrap3-editable/js/bootstrap-editable.js"></script>
<script src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="assets/js/modern.min.js"></script>
<script src="assets/js/pages/table-data.js"></script>
