<div class="overlay"></div>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s1">

  <h3><span class="pull-left">Chat</span><a href="javascript:void(0);" ng-click="closeWindow();" class="pull-right" id="closeRight" onclick="closeWindow();"><i

      class="fa fa-times"></i></a></h3>
      
  <div class="slimscroll">
    <div  ng-repeat="data in chatUsers">
      <a href="javascript:void(0);"    class="showRight2"  ng-click="showUserWindow(data.emp_id);"
         ng-if="currentUser==0 || currentUser==data.emp_id" >
          <img src="assets/images/{{data.photo ||  'default.png'}}"
             alt=""><span>{{data.employee_name}}<small>{{data.is_online}}
      </small></span></a>
    </div>

    <div class="slimscroll chat" ng-hide="showWindow">

      <div ng-if="loading">
        <loader></loader>
      </div>
      <div ng-if="!loading" ng-repeat="messageInfo in chatData">
        <div ng-class="{'chat-item-left' : currentUserId != messageInfo.to_id,
        'chat-item-right': currentUserId == messageInfo.from_id} " class="chat-item" >
          <div class="chat-image" ng-if="currentUserId == messageInfo.to_id">
            <img src="assets/images/{{userProfileData.photo || 'default.png'}}" alt="">
          </div>
          <div class="chat-message">  {{messageInfo.messages}}</div>
          <div>{{time_ago(messageInfo.in_date)}}</div>
        </div>
      </div>
        <input  type="text"
                ng-model="textMessage"
                ng-enter="sendMessage(textMessage);"
                class="form-control"
                placeholder="Say something">
    </div>
  </div>
</nav>

<form class="search-form" action="#" method="GET">
  <div class="input-group">
    <input type="text" name="search" class="form-control search-input" placeholder="Search...">
    <span class="input-group-btn">
    <button class="btn btn-default close-search waves-effect waves-button waves-classic" type="button"><i
        class="fa fa-times"></i></button>
    </span></div>
  <!-- Input Group -->
</form>
<!-- Search Form -->
<main class="page-content content-wrap" ng-controller="logoutController">
    
  <div class="navbar">
    <div class="navbar-inner">
      <div class="sidebar-pusher"><a href="javascript:void(0);"
                                     class="waves-effect waves-button waves-classic push-sidebar"> <i
          class="fa fa-bars"></i> </a></div>
      <div class="logo-box"><a href="#" class="logo-text"><span><img src="assets/images/logo.png" width="104"
                                                                     height="33" alt=""/></span></a></div>
      <!-- Logo Box -->
      <div class="search-button"><a href="javascript:void(0);"
                                    class="waves-effect waves-button waves-classic show-search"><i
          class="fa fa-search"></i></a></div>
      <div class="topmenu-outer">
        <div class="top-menu">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="javascript:void(0);" class="waves-effect waves-button waves-classic sidebar-toggle"><i
                class="fa fa-bars"></i></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!--<li><a href="javascript:void(0);" class="waves-effect waves-button waves-classic show-search"><i-->
                <!--class="fa fa-search"></i></a></li>-->
             
            <li class="dropdown"><a href="#" class="dropdown-toggle waves-effect waves-button waves-classic"
                                    data-toggle="dropdown"><i class="fa fa-bell"></i><span
                class="badge badge-success pull-right">3</span></a>
              <ul class="dropdown-menu title-caret dropdown-lg" role="menu">
                <li>
                  <p class="drop-title">Tasks To Be Done Today !</p>
                </li>
                <li class="dropdown-menu-list slimscroll tasks">
                  <ul class="list-unstyled">
                    
                


                    <li><a href="#" >
                      <div class="task-icon badge badge-success"><i class="icon-user"></i></div>
                      <span class="badge badge-roundless badge-default pull-right">1min ago</span>

                      <p class="task-details">New user registered.</p>
                    </a></li>









                  </ul>
                </li>
                <li class="drop-all"><a href="#" class="text-center">All Tasks</a></li>
              </ul>
            </li>
            <li class="dropdown" ng-controller="uploadController">
              <a href="#"
                 class="dropdown-toggle waves-effect waves-button waves-classic"
                 data-toggle="dropdown">
                <span class="user-name">{{PersonalDetails.employee_name}}<i class="fa fa-angle-down"></i></span>
                <img class="img-circle avatar"
                     src="assets/images/{{uploadpics || 'default.png'}}"
                     width="40" height="40" alt="">
              </a>

              <ul class="dropdown-menu dropdown-list" role="menu">
                <li role="presentation"><a ui-sref="profile-view"><i class="fa fa-user"></i>Profile</a></li>
                <li role="presentation"><a ui-sref="personal-info-edit"><i class="fa fa-user"></i>Edit Info</a></li>
                <li role="presentation"><a ui-sref="lock-screen({userId: userId})"><i class="fa fa-lock"></i>Lock screen</a></li>
                <li role="presentation"><a ui-sref="cngpwd"><i class="fa fa-sign-out m-r-xs"></i>Change Password</a></li>
                <li role="presentation"><a ui-sref="logout"><i class="fa fa-sign-out m-r-xs"></i>Log out</a></li>
              </ul>
           
                     
                
                
                
                
                
                
                
                
                
                
                
                
            <li ng-controller="logoutController"><a ui-sref="logout" ng-click="logout()" class="log-out waves-effect waves-button waves-classic"> <span><i
                class="fa fa-sign-out m-r-xs"></i>Log out</span> </a></li>

           
            <li>
            <a href="javascript:void(0);" onclick="showWindow();" class="waves-effect waves-button waves-classic" id="showRight11"> <i class="fa fa-comments"></i> </a>
            </li>

          </ul>
          <!-- Nav -->
        </div>
        <!-- Top Menu -->
      </div>
    </div>
  </div>
  <!-- Navbar -->
  <div class="page-sidebar sidebar">
    <div class="page-sidebar-inner slimscroll">
      <div class="sidebar-header">

        <div class="sidebar-profile"><a href="javascript:void(0);">
          <div class="sidebar-profile-image"
               ng-controller="uploadController">
            <img src="assets/images/{{uploadpics || 'default.png'}}"
                 class="img-circle img-responsive" alt=""></div>

          <div class="sidebar-profile-details"> <span> {{PersonalDetails.employee_name}}<br>
            <small>Designation</small></span></div>
        </a></div>
      </div>
      <ul class="menu accordion-menu">
        <li>
          <a ui-sref="dashboard"
             class="waves-effect waves-button">
            <span class="menu-icon glyphicon glyphicon-home"></span>

            <p>Dashboard</p>
          </a>
        </li>
        <li>
          <a ui-sref="profile-view"
             class="waves-effect waves-button">
            <span class="menu-icon glyphicon glyphicon-user"></span>

            <p>Profile</p>
          </a></li>
        <li>
          <a ui-sref="planner"
             class="waves-effect waves-button">
            <span class="menu-icon glyphicon glyphicon-briefcase"></span>

            <p>Planner</p>
          </a>
        </li>
        <li>
          <a ui-sref="leaves"
             class="waves-effect waves-button">
            <span class="menu-icon glyphicon glyphicon-list"></span>

            <p>Leaves</p>
          </a>
        </li>
        <li>
          <a ui-sref="birthdays"
             class="waves-effect waves-button">
            <span class="menu-icon glyphicon glyphicon-gift"></span>

            <p>B'day Wishes</p>
          </a>
        </li>
        <li>
          <a ui-sref="personal-info-view"
             class="waves-effect waves-button">
            <span class="menu-icon glyphicon glyphicon-flash"></span>

            <p>Info</p>
          </a>
        </li>
        <li>
          <a ui-sref="employees"
             class="waves-effect waves-button">
            <span class="menu-icon glyphicon glyphicon-user"></span>

            <p>Employee Management</p>
          </a>
        </li>
      </ul>
    </div>
    <!-- Page Sidebar Inner -->
  </div>
  <!-- Page Sidebar -->
  <div ui-view class="page-inner">
  </div>

  <!-- Page Inner -->
</main>
<!-- Page Content -->
<script src="assets/js/modern.min.js"></script>
<script src="assets/js/pages/charts-flot.js"></script>

<script type="text/javascript">
  function showWindow(){
    $('#cbp-spmenu-s1').addClass("cbp-spmenu-open");    
  }
  function closeWindow(){
    $('#cbp-spmenu-s1').removeClass("cbp-spmenu-open");
  }
</script>