<div id="main-wrapper">
    <!-- Row -->
    <div class="row">
        <form id="dashboardForm">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Add Post</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-8">
                            <h4>Title</h4>
                            <textarea class="form-control" name="post_content" id="post_content" cols="15" rows="1"
                                      ng-model="post_title" placeholder="Enter your tittle"></textarea>
                        </div>
                        <div class="col-md-8">
                            <h4>Post</h4>
                            <textarea class="form-control" name="post_content" id="post_content" cols="15" rows="3"
                                      ng-model="post_body" placeholder="What's on your mind?"></textarea>
                        </div>
                        <div class="col-sm-offset-7 col-sm-1" style="padding-top:10px;">
                            <button ng-click="saveDashBoard();" class="btn btn-success" type="submit">Post</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row" ng-init="getDashBoard()">
        <div class="col-md-12" ng-repeat="post in posts">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div class=" col-md-12 media">
                        <div class="media-left media-middle" style="padding-left:10px;">
                            <a href="#">
                                <img class="media-object" src="assets/images/{{post.photo || 'default.png'}}" width="40"
                                     height="40" alt="images">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{post.employee_name||'Name'}}</h4>
                            <a href="">{{post.date|date:"d MMM h:mm a"}}</a>
                        </div>
                        <div class="message-post">
                            <h5>{{post.post_title}}</h5>

                            <p>{{post.post_body}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Wrapper -->
    <div class="page-footer">
        <p class="no-s">2016 &copy; Oompfh</p>
    </div>
</div>
<!-- Page Inner -->