<div class="page-inner">
  <div class="page-title">
    <h3>Add Employee</h3>
    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Add Employee</a></li>
      </ol>
    </div>
  </div>
  <div id="main-wrapper">

    <!-- Row -->
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-white">
          <div class="panel-heading clearfix">
            <h4 class="panel-title">Add Employee</h4>
          </div>
          <div class="panel-body">
            <form class="form-horizontal" name="userForm">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="inputPassword3">Employee Name</label>
                <div class="col-sm-10">
                  <input type="text" placeholder="Enter Something" id="inputPassword3"  ng-model="employee_name" class="form-control" required>
                </div>
                <span ng-show="userForm.employee_name.$error.required &&
                                    userForm.employee_name.$dirty" style="color:red;">Required</span>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="inputPassword3">Card Id</label>
                <div class="col-sm-10">
                  <input type="text" placeholder="Enter Something" id="inputPassword3" ng-model="card_id" class="form-control" required="">
                </div>
                <p ng-show="userForm.card_id.$error.required &&
                                    userForm.card_id.$dirty" >Required</p>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="inputPassword3">Official EmailId</label>
                <div class="col-sm-10">
                  <input type="text" placeholder="Enter Something" id="inputPassword3"  ng-model="office_email_id" class="form-control" required="">
                </div>
                <p ng-show="userForm.office_email_id.$error.required &&
                                    userForm.office_email_id.$dirty" >Required</p>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="inputPassword3">Password</label>
                <div class="col-sm-10">
                  <input type="text" placeholder="Enter Something" id="inputPassword3"  ng-model="password"class="form-control" required="">
                </div>
                <p ng-show="userForm.password.$error.required &&
                                    userForm.password.$dirty" >Required</p>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="inputPassword3">Total Sick leaves</label>
                <div class="col-sm-10">
                  <input type="text" placeholder="Enter Something" id="inputPassword3"  ng-model="total_sick"class="form-control" required="">
                </div>
                <p ng-show="userForm.total_sick.$error.required &&
                                    userForm.total_sick.$dirty" >Required</p>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="inputPassword3">Total Paid leaves</label>
                <div class="col-sm-10">
                  <input type="text" placeholder="Enter Something" id="inputPassword3" ng-model="total_paid" class="form-control" required="">
                </div>
                <p ng-show="userForm.total_paid.$error.required &&
                                    userForm.total_paid.$dirty" >Required</p>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button class="btn btn-success" type="submit"  ng-disabled="userForm.$invalid"  ng-click="employeeadddetails()">Add</button>
                  <button class="btn btn-success" ui-sref="employees" type="submit">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Row -->

    <!-- Row -->

  </div>
  <!-- Main Wrapper -->
  <div class="page-footer">
    <p class="no-s">2016 &copy; Oompfh</p>
  </div>
</div>
<!-- Page Inner -->