<div class="page-inner">
    <div class="page-title">
        <h3>All Employee</h3>

        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">All Employee</a></li>
            </ol>
        </div>
    </div>
    <div id="main-wrapper">
        <!-- Row -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="submit" ui-sref="employee-add" class="btn btn-success">Add Employee</button>
                        </form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3" ng-repeat="image in photos ">
                                    <a ui-sref="employee-portfolio({emp_id: '{{image.emp_id}}'})">
                                        <img width="100" height="100" ng-src="assets/images/{{image.photo}}"/>
                                        <h4>{{image.employee_name}}</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row -->

            <!-- Row -->

        </div>
        <!-- Main Wrapper -->
        <div class="page-footer">
            <p class="no-s">2016 &copy; Oompfh</p>
        </div>
    </div>
</div>