<div class="page-inner">
    <div class="page-title">
        <h3>EMPLOYEE PERFORMANCE REPORT </h3>

        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Info</a></li>
            </ol>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body" ng-show="show">
                        <p> Employee Performance Report is not created yet!!</p>

                        <div class="form-group" style="padding-top:10px">
                            <div class="col-sm-offset-4 col-sm-7s">
                                <button ng-click="show = false;hide = false" class="btn btn-success" type="submit">Click
                                    here
                                    to create new Report
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="div1" ng-hide="hide">
                <div class="col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">Employee Performance</h4>
                        </div>
                        <div class="panel-body" style="padding-right:60px;">
                            <form class="inline">
                                <div class="col-md-12" style="text-align: center;">
                                    <div class=" col-md-3 form-group">
                                        <h4> Mile Stone </h4>
                                        <ui-knob value="value1" options="options"></ui-knob>
                                    </div>
                                    <div class=" col-md-3 form-group">
                                        <h4> Productivity </h4>
                                        <ui-knob value="value2" options="options"></ui-knob>
                                    </div>
                                    <div class=" col-md-3 form-group">
                                        <h4> Work Quality </h4>
                                        <ui-knob value="value3" options="options"></ui-knob>
                                    </div>
                                    <div class=" col-md-3 form-group">
                                        <h4> Attendance </h4>
                                        <ui-knob value="value4" options="options"></ui-knob>
                                    </div>
                                </div>
                                <div class="col-md-12" style="text-align: center;">
                                    <div class=" col-md-3 form-group">
                                        <h4>Punctuality </h4>
                                        <ui-knob value="value5" options="options" style="width:50px;height:50px;">
                                        </ui-knob>
                                    </div>
                                    <div class=" col-md-3 form-group">
                                        <h4> Creativity </h4>
                                        <ui-knob value="value6" options="options"></ui-knob>
                                    </div>
                                    <div class=" col-md-3 form-group">
                                        <h4> Attitude </h4>
                                        <ui-knob value="value7" options="options"></ui-knob>
                                    </div>
                                    <div class=" col-md-3 form-group">
                                        <h4> Enthusiasm </h4>
                                        <ui-knob value="value8" options="options"></ui-knob>
                                    </div>
                                </div>
                                <div class="col-md-12" style="text-align: center;">
                                    <div class=" col-md-3 form-group">
                                        <h4> Involvement in Team </h4>
                                        <ui-knob value="value9" options="options"></ui-knob>
                                    </div>
                                    <div class=" col-md-3 form-group">
                                        <h4> Working Relations </h4>
                                        <ui-knob value="value10" options="options"></ui-knob>
                                    </div>
                                    <div class=" col-md-3 form-group">
                                        <h4> Decision Making Ability</h4>
                                        <ui-knob value="value11" options="options"></ui-knob>
                                    </div>
                                    <div class=" col-md-3 form-group">
                                        <h4> Discipline </h4>
                                        <ui-knob value="value12" options="options"></ui-knob>
                                    </div>
                                </div>
                            </form>

                            <form class="m-t-md" name="userForm">
                                <div class="form-group" style="padding-top:40px;">
                                    <label class="col-sm-3 control-label"><b>Improving Areas <b style="font-size:18px;"></label>

                                    <div class="col-sm-8">
                                        <input type="text" ng-model="improvingareas"
                                               class="form-control"
                                               style="background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                         border-color: -moz-use-text-color -moz-use-text-color #dce1e4;
                         border-radius: 0;
                         border-style: none none solid;
                         border-width: medium medium 1px;
                         box-shadow: none !important;
                         font-size: 13px;
                         padding: 6px 10px !important;
                         transition: all 0.2s ease-in-out 0s;"
                                               placeholder="Improving Areas" required>
                                    </div>
                                </div>

                                <div class="form-group" style="padding-top:40px;">
                                    <label class="col-sm-3 control-label"><b>Comments</b></label>

                                    <div class="col-sm-8">
                                        <input type="text" ng-model="comments"
                                               class="form-control"
                                               style="background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                         border-color: -moz-use-text-color -moz-use-text-color #dce1e4;
                         border-radius: 0;
                         border-style: none none solid;
                         border-width: medium medium 1px;
                         box-shadow: none !important;
                         font-size: 13px;
                         padding: 6px 10px !important;
                         transition: all 0.2s ease-in-out 0s;"
                                               placeholder="Comments" required>
                                    </div>
                                </div>
                                <div class="form-group" style="padding-top:40px;">
                                    <label class="col-sm-3 control-label"><b>Manager Remarks</b></label>

                                    <div class="col-sm-8">
                                        <input type="text" ng-model="managerremarks" class="form-control" style="
                                          background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #dce1e4;
    border-radius: 0;
    border-style: none none solid;
    border-width: medium medium 1px;
    box-shadow: none !important;
    font-size: 13px;
    padding: 6px 10px !important;
    transition: all 0.2s ease-in-out 0s;" placeholder="Manager Remarks" required>
                                    </div>
                                </div>
                                <div class="form-group" style="padding-top:60px;">
                                    <div class="col-sm-offset-8 col-sm-4" style="padding-top:40px;">

                                        <button class="btn btn-success" ng-disabled="userForm.$invalid"
                                                ng-click="saveEmployeePerformanceDetails();hide='true'" type="submit">
                                            <b>Generate Employee performance</b></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-hide="hideshow" ng-show="hide">
                <div class="col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-heading">
                            <h3 class="panel-title">Bar Chart</h3>

                            <h3 class="panel-title">Employee Performance</h3>
                        </div>
                        <div class="panel-body">
                            <div zingchart id="employeePerformance1" zc-json="myJson1" zc-height=400 zc-width=500></div>
                            <button class="btn btn-success" ng-click="getPerformanceDetails()" type="submit">Edit
                            </button>
                            <div id="flot1"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- Main Wrapper -->
    <div class="page-footer">
        <p class="no-s">2016 &copy; Oompfh</p>
    </div>
</div>
<!-- Page Inner -->