<!-- Page Sidebar -->
<div class="page-inner">
    <div class="page-title">
        <h3>Employee Portfolio</h3>

        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Info</a></li>
            </ol>
            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4">
                    <button ui-sref="employee-portfolio-complete({emp_id: '{{empid}}'})" class="btn btn-success"
                            type="submit">
                        Complete Portfolio
                    </button>
                    <button ui-sref="employee-performance({emp_id: '{{empid}}'})"  class="btn btn-success" type="submit">Employee Report</button>
                    <button ui-sref="employees" class="btn btn-success">Back</button>
                </div>
            </div>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="col-md-12">
            <div class="row">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div role="tabpanel">
                            <!-- Nav tabs -->
                            <ul role="tablist" class="nav nav-tabs nav-justified">
                                <li class="active" role="presentation"><a data-toggle="tab" role="tab" href="#tab21"
                                                                          aria-expanded="false">Profile</a></li>
                                <li role="presentation" class=""><a data-toggle="tab" role="tab" href="#tab22"
                                                                    aria-expanded="false">Task</a></li>
                                <li role="presentation" class=""><a data-toggle="tab" role="tab" href="#tab23"
                                                                    aria-expanded="false">Leaves</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div id="tab21" class="tab-pane fade active in" role="tabpanel">
                                    <div class="page-inner">
                                        <div class="row">
                                            <div class="col-md-3 profile-image" style="margin-top:20px;">
                                                <div class="profile-image-container"><img
                                                        src="assets/images/{{details.photo ||'default.png'}}"
                                                        style="background-image: url(assets/images/avatar.jpg);" alt="">
                                                </div>
                                            </div>
                                            <div id="main-wrapper">
                                                <div class="row">
                                                    <div class="col-md-3 user-profile"
                                                         style="margin-top:13%; padding-right:2px;">
                                                        <h3 class="text-center">
                                                            {{Person_Details.employee_name||'NA'}}</h3>

                                                        <p class="text-center">{{details.designation}}</p>
                                                        <hr>
                                                        <ul class="list-unstyled text-center">
                                                            <li>
                                                                <p><i class="fa fa-map-marker m-r-xs"></i>Madhapur,
                                                                    Hyderabad.</p>
                                                            </li>
                                                            <li>
                                                                <p><i class="fa fa-envelope m-r-xs"></i><a href="#">
                                                                    {{details.office_mail_id||'NA'}}</a></p>
                                                            </li>
                                                            <li>
                                                                <p><i class="fa fa-link m-r-xs"></i><a href="#">
                                                                    www.oompfh.com</a>
                                                                </p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="col-md-12">
                                                            <div class="panel panel-white" style="margin-bottom:3px">
                                                                <div class="panel-body">
                                                                    <form class="form-horizontal "
                                                                          style="padding-left:45px;">
                                                                        <div class="form-group ">
                                                                            <label class="col-sm-4  control-label"
                                                                                   for="input-Default">Designation
                                                                            </label>

                                                                            <div class="col-sm-6">
                                                                                <label class="col-sm-6 control-label"
                                                                                       for="input-Default">
                                                                                    {{details.designation||'NA'}}
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 control-label"
                                                                                   for="input-Default">Experience
                                                                            </label>

                                                                            <div class="col-sm-6">
                                                                                <label class="col-sm-6 control-label"
                                                                                       for="input-Default">
                                                                                    {{details.experience||'NA'}}</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 control-label"
                                                                                   for="input-Default">Current
                                                                                Project</label>

                                                                            <div class="col-sm-6">
                                                                                <label class="col-sm-6 control-label"
                                                                                       for="input-Default">
                                                                                    {{details.current_project||'NA'}}
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 control-label"
                                                                                   for="input-Default">Expestise
                                                                                Skills</label>

                                                                            <div class="col-sm-6">
                                                                                <label class="col-sm-6 control-label"
                                                                                       for="input-Default">
                                                                                    {{details.expertise_skill||'NA'}}
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 control-label"
                                                                                   for="input-Default">Skype Id</label>

                                                                            <div class="col-sm-6">
                                                                                <label class="col-sm-6 control-label"
                                                                                       for="input-Default">
                                                                                    {{details.skype_id||'NA'}}</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 control-label"
                                                                                   for="input-Default">Emp Id</label>

                                                                            <div class="col-sm-6">
                                                                                <label class="col-sm-6 control-label"
                                                                                       for="input-Default">
                                                                                    {{details.emp_id||'NA'}}</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 control-label"
                                                                                   for="input-Default">Oompfh Id</label>

                                                                            <div class="col-sm-6">
                                                                                <label class="col-sm-6 control-label"
                                                                                       for="input-Default">
                                                                                    {{details.office_mail_id||'NA'}}
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 control-label"
                                                                                   for="input-Default">Blood
                                                                                Group</label>

                                                                            <div class="col-sm-6">
                                                                                <label class="col-sm-6 control-label"
                                                                                       for="input-Default">
                                                                                    {{Person_Details.blood_group||'NA'}}
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-sm-4 control-label"
                                                                                       for="input-Default">Family
                                                                                    Contact Number</label>

                                                                                <div class="col-sm-6">
                                                                                    <label class="col-sm-6 control-label"
                                                                                           for="input-Default">
                                                                                        {{Person_Details.permanent_address
                                                                                        ||'NA'}}
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab22" class="tab-pane fade" role="tabpanel">
                                    <p>

                                    <div class="panel-body">

                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Task</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="info in fetchTasksData">
                                                <td>{{info.task}}</td>
                                                <td>{{info.data_creation_date|date:'d-MMM-yyyy'}}</td>
                                                <td><span ng-class="{
                      'label label-pill label-success': info.status == 'closed',
                       'label label-pill label-info': info.status == 'open'}">
                        {{info.status}}</span></td>
                                            </tr>
                                            <tr ng-show="!fetchTasksData.length">
                                                <td>
                                                    No task have been added yet
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    </p>
                                </div>
                                <div id="tab23" class="tab-pane fade" role="tabpanel">
                                    <p>

                                    <div class="panel-body">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Leaves</th>
                                                <th>From Date</th>
                                                <th>To Date</th>
                                                <th>Status</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="singleLeave in leaves">
                                                <td> {{singleLeave.leave_description}}</td>
                                                <td> {{singleLeave.leave_from|date:"dd-MMM-yyyy"}}</td>
                                                <td> {{singleLeave.leave_to|date:"dd-MMM-yyyy"}}</td>
                                                <td><span ng-class="{
                      'label label-pill label-success': singleLeave.leave_status == 'granted',
                      'label  label-pill label-danger': singleLeave.leave_status == 'declined',
                       'label label-pill label-info': singleLeave.leave_status == 'applied'}">
                        {{singleLeave.leave_status}}</span></td>
                                            </tr>
                                            <tr ng-show="!leaves.length">
                                                <td>
                                                    No Leaves have been Applied Yet
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row -->

            <!-- Row -->
        </div>
        <!-- Main Wrapper -->
        <div class="page-footer">
            <p class="no-s">2016 &copy; Oompfh.com</p>
        </div>
    </div>
</div>
<!-- Page Inner -->
<!-- Page Content -->
