<!-- Page Sidebar -->
<div class="page-inner">
    <div class="page-title">
        <h3>Employee Complete Portfolio</h3>

        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Info</a></li>
            </ol>
            <div class="form-group">
                <div class="col-sm-offset-8">
                    <button ui-sref="employee-portfolio({emp_id: '{{empid}}'})" class="btn btn-success">Back</button>
                </div>
            </div>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <p class="no-s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-white">

                <div class="panel-body">
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul role="tablist" class="nav nav-tabs nav-justified">
                            <li class="active" role="presentation"><a data-toggle="tab" role="tab" href="#tab21"
                                                                      aria-expanded="false">Profile-Info</a></li>
                            <li role="presentation" class=""><a data-toggle="tab" role="tab" href="#tab22"
                                                                aria-expanded="false">Personal-Info</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div id="tab21" class="tab-pane fade active in" role="tabpanel">
                                <p>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-white">
                                            <div class="panel-heading clearfix">
                                                <h4 class="panel-title">Personal Info</h4>
                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table id="personalinfo" class="display table"
                                                           style="width: 100%; cellspacing: 0;padding-left:10%;">
                                                        <tbody style="text-align: center;">
                                                        <tr>
                                                            <td>Designation</td>
                                                            <td>{{details.designation || 'NA'}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Experiance</td>
                                                            <td>{{details.experience || 'NA'}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Current Project</td>
                                                            <td>{{details.current_project || 'NA'}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Past Project</td>
                                                            <td>{{details.past_project || 'NA'}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Expertise skills</td>
                                                            <td>{{details.expertise_skill || 'NA'}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Emp Id</td>
                                                            <td>{{details.emp_id || 'NA'}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Joining Date</td>
                                                            <td>{{(details.joining_date|date:"dd-MMM-yyyy") || 'NA'}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Skype Id</td>
                                                            <td>{{details.skype_id || 'NA'}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Oompfh Id</td>
                                                            <td>{{details.office_mail_id|| 'NA'}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Row -->
                                </p>
                            </div>
                            <div id="tab22" class="tab-pane fade" role="tabpanel">
                                <p>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-white">
                                            <div class="panel-heading clearfix">
                                                <h4 class="panel-title">Personal Info</h4>
                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table id="profileinfo" class="display table"
                                                           style="width: 100%; cellspacing: 0;">
                                                        <tbody style="text-align: center;">
                                                        <tr>
                                                            <td>Title</td>
                                                            <td>{{Person_Details.title || 'NA'}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>First Name</td>
                                                            <td>{{Person_Details.employee_name || 'NA' }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>DOB</td>
                                                            <td>{{(Person_Details.birthday |date:"dd-MMM-yyyy")||
                                                                'NA'}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Gender</td>
                                                            <td>{{Person_Details.gender || 'NA'}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Blood Group</td>
                                                            <td>{{Person_Details.blood_group || "NA"}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>E-mail Id</td>
                                                            <td>{{Person_Details.personal_mail_id || "NA"}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Phone Number</td>
                                                            <td>{{Person_Details.phone_number || 'NA'}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Address</td>
                                                            <td>{{Person_Details.present_address || 'NA'}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Family Contact Number</td>
                                                            <td>{{Person_Details.family_contact_number || 'NA'}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Permanent Address</td>
                                                            <td>{{Person_Details.permanent_address || 'NA'}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Row -->
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="page-footer">
                        <p class="no-s">2016 &copy; Oompfh.com</p>
                    </div>
                </div>
                <!-- Page Inner -->
            </div>
            <!-- Page Content -->
        </div>
    </div>
</div>