<div class="page-inner">
  <div class="page-title">
    <h3>LEAVES</h3>

    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Leaves</a></li>
      </ol>
    </div>
  </div>
  <div id="main-wrapper">
    <div class="row" style="float: right; margin-right: 20px; margin-bottom: 20px;">
      <!--ng-if="user.employee_type == 'hr'"-->
      <a ui-sref="leaves-holidays"
         class="btn btn-info btn-rounded" type="button">Leave-Holiday Management</a>
    </div>
    <div class="row" style="float: right; margin-right: 20px; margin-bottom: 20px;">
      <a ui-sref="apply-leave" class="btn btn-info btn-rounded" type="button">Apply</a>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-white">
          <div class="panel-body">
            <p class="no-s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
              been the industry's standard...</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Row -->
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-white">
          <div class="panel-heading">
            <h3 class="panel-title">Leave Statistics</h3>
          </div>
          <div class="row" ng-if="leaves.length">
            <div class="col-xs-6">
              <div zingchart id="myChartPaidLeaves" zc-json="myJson" zc-height=200 zc-width=200></div>
               <h3 class="panel-title" style="text-align: center">Paid Leaves</h3>
            </div>
            <div class="col-xs-6">
              <div zingchart id="myChartSickLeaves" zc-json="myJson1" zc-height=200 zc-width=200></div>
                <h3 class="panel-title">Sick Leaves</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-white">
          <div class="panel-heading">
            <h3 class="panel-title">Holidays List</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li ng-repeat="holiday in holidays">{{holiday.holiday}} : {{holiday.Date|date:"dd-MMM-yyyy"}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="panel panel-white">
        <div class="panel-heading clearfix">
          <h3 class="panel-title">Leaves List</h3></div>
        <div class="panel-body">
          <div role="tabpanel">
            <!-- Nav tabs -->
            <ul role="tablist" class="nav nav-tabs nav-justified">
              <li class="active" role="presentation"><a data-toggle="tab" role="tab" href="#History"
                                                        aria-expanded="false">Leave History</a></li>
              <li role="presentation" class=""><a data-toggle="tab" role="tab" href="#Granted" aria-expanded="false">Granted</a>
              </li>
              <li role="presentation" class=""><a data-toggle="tab" role="tab" href="#Declined" aria-expanded="false">Declined</a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div id="History" class="tab-pane fade active in" role="tabpanel">
                <p>

                <div class="panel-body">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>From Date</th>
                      <th>To Date</th>
                      <th>Reason</th>
                      <th>status</th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="singleLeave in leaves">
                      <td> {{singleLeave.leave_from|date:"dd-MMM-yyyy"}}</td>
                      <td> {{singleLeave.leave_to|date:"dd-MMM-yyyy"}}</td>
                      <td> {{singleLeave.leave_description}}</td>
                      <td><span ng-class="{
                      'label label-pill label-success': singleLeave.leave_status == 'granted',
                      'label  label-pill label-danger': singleLeave.leave_status == 'declined',
                       'label label-pill label-info': singleLeave.leave_status == 'applied'}">
                        {{singleLeave.leave_status}}</span></td>
                      <td><a ng-click="deleteLeave(singleLeave.id)"><span class="glyphicon glyphicon-trash text-danger"></span></a></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                </p>
              </div>
              <div id="Granted" class="tab-pane fade" role="tabpanel">
                <p>

                <div class="panel-body">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>From Date</th>
                      <th>To Date</th>
                      <th>Reason</th>
                      <th>status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="singleLeave in leaves | leaveStatusFilter:'granted'">
                      <td> {{singleLeave.leave_from|date:"dd-MMM-yyyy"}}</td>
                      <td> {{singleLeave.leave_to|date:"dd-MMM-yyyy"}}</td>
                      <td> {{singleLeave.leave_description}}</td>
                      <td><span ng-class="{
                      'label label-pill label-success': singleLeave.leave_status == 'granted',
                      'label  label-pill label-danger': singleLeave.leave_status == 'declined',
                       'label label-pill label-info': singleLeave.leave_status == 'applied'}">
                        {{singleLeave.leave_status}}</span></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                </p>
              </div>
              <div id="Declined" class="tab-pane fade" role="tabpanel">
                <p>

                <div class="panel-body">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>From Date</th>
                      <th>To Date</th>
                      <th>Reason</th>
                      <th>status</th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="singleLeave in leaves | leaveStatusFilter:'declined'">
                      <td> {{singleLeave.leave_from|date:"dd-MMM-yyyy"}}</td>
                      <td> {{singleLeave.leave_to|date:"dd-MMM-yyyy"}}</td>
                      <td> {{singleLeave.leave_description}}</td>
                      <td><span ng-class="{
                      'label label-pill label-success': singleLeave.leave_status == 'granted',
                      'label  label-pill label-danger': singleLeave.leave_status == 'declined',
                       'label label-pill label-info': singleLeave.leave_status == 'applied'}">
                        {{singleLeave.leave_status}}</span></td>
                      <!--<button ng-click="deleteLeave(singleLeave.id)">delete</button>-->
                    </tr>
                    </tbody>
                  </table>
                </div>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Wrapper -->
  <div class="page-footer">
    <p class="no-s">2016 &copy; Oompfh</p>
  </div>
</div>
<!-- Page Inner -->