<div class="page-inner">
    <div class="page-title">
        <h3>Leaves and Holiday Management</h3>

        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Planner</a></li>
            </ol>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-9" style="padding-left:45px;">
                <button ui-sref="leaves" class="btn btn-success" type="submit">Back</button>
                <button ui-sref="leaves-statistics" class="btn btn-success" type="submit">Leave-statistics
                </button>
            </div>
        </div>
    </div>

    <div id="main-wrapper">

        <!-- Row -->

        <div class="row">

            <div class="panel panel-white">

                <div class="panel-body">
                    <div role="tabpanel">

                        <!-- Nav tabs -->
                        <ul role="tablist" class="nav nav-tabs nav-justified">
                            <li class="active" role="presentation"><a data-toggle="tab" role="tab" href="#tab21"
                                                                      aria-expanded="false">Leaves</a></li>
                            <li role="presentation" class=""><a data-toggle="tab" role="tab" href="#tab22"
                                                                aria-expanded="false">Holidays</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div id="tab21" class="tab-pane fade active in" role="tabpanel">
                                <p>

                                <div class="panel-body" ng-init="getLeaves()">
                                    <table id="example-editable" class="display table"
                                           style="width: 100%; cellspacing: 2;">
                                        <thead>
                                        <tr>
                                            <th>Emp Name</th>
                                            <th>Leave Reason</th>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Applied On</th>
                                            <th>Status</th>
                                            <th>Approved</th>
                                            <th>Declined</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="leave in leaves" ng-model="status">
                                            <td>{{leave.employee_name}}</td>
                                            <td>{{leave.leave_description}}</td>
                                            <td>{{leave.leave_from|date:"dd-MMM-yyyy"}}</td>
                                            <td>{{leave.leave_to|date:"dd-MMM-yyyy"}}</td>
                                            <td>{{leave.apply_date|date:"dd-MMM-yyyy"}}</td>
                                            <td>{{leave.leave_status}}</td>
                                            <td>
                                                <button ng-if="leave.leave_status=='applied' ||
                                                               leave.leave_status== 'granted'"
                                                        ng-disabled="leave.leave_status == 'granted'"
                                                        ng-click="saveStatus('granted',leave.id,leave.emp_id)"
                                                        class="btn btn-success">Approve
                                                </button>
                                            </td>
                                            <td>
                                                <button ng-if="leave.leave_status=='applied' ||
                                                               leave.leave_status =='declined'"
                                                        ng-disabled="leave.leave_status == 'declined'"
                                                        ng-click="saveStatus('declined',leave.id,leave.emp_id)"
                                                        class="btn btn-danger">Decline
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                </p>
                            </div>
                            <div id="tab22" class="tab-pane fade" role="tabpanel">
                                <p>

                                <div class="panel-body">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-Default">Holiday</label>

                                            <div class="col-sm-5">
                                                <input name="holiday" type="text" id="input-Default"
                                                       class="form-control"
                                                       placeholder="Holiday reason"
                                                       ng-model="Holiday.holiday_reason" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Date</label>

                                            <div class="col-sm-5">
                                                <md-datepicker ng-model="Holiday.holiday_date"
                                                               md-placeholder="enter date"
                                                               required>
                                                </md-datepicker>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button class="btn btn-success" type="submit" ng-click="saveHoliday()">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->

        <!-- Row -->

    </div>
    <!-- Main Wrapper -->
    <div class="page-footer">
        <p class="no-s">2016 &copy; Oompfh.com</p>
    </div>
</div>

<!-- Javascripts -->
<script src="assets/plugins/jquery/jquery-2.1.4.min.js"></script>
<script src="assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/plugins/jquery-mockjax-master/jquery.mockjax.js"></script>
<script src="assets/plugins/datatables/js/jquery.datatables.min.js"></script>
<script src="assets/plugins/x-editable/bootstrap3-editable/js/bootstrap-editable.js"></script>
<script src="assets/js/modern.min.js"></script>
<script src="assets/js/pages/table-data.js"></script>
