<div class="page-inner">
  <div class="page-title">
    <h3>Leave statistics</h3>
    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Info</a></li>
      </ol>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-11">
        <button ui-sref="leaves-holidays" class="btn btn-success" type="submit">Back
        </button>
      </div>
    </div>
  </div>
  <div id="main-wrapper">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-white">
          <div class="panel-body">
            <p class="no-s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard...</p>
            <table id="example-editable" class="display table" style="width: 100%; cellspacing: 0;">
              <thead>
              <th>Employee Name</th>
              <th>Total Paid Leaves</th>
              <th>Total Sick Leaves</th>
              <th>Sick Leaves Applied</th>
              <th>Paid Leaves Applied</th>
              </thead>
              <tbody>
              <tr>
                <td>Employee Name</td>
                <td><a href="javascript:void(0);">133</a></td>
                <!--<td>-->
                  <!--<a class="task_{{info.id}}"  id="link[{{info.id}}]"  ng-click="changeOptions(info.id);">-->
                    <!--{{info.task}}-->
                  <!--</a>-->

                       <!--<span class="in_{{info.id}}"  style="display: none">-->
                           <!--<input type="text"  class="in_{{info.id}}"   id="input[{{info.id}}]" ng-model="info.task">-->
                         <!--<button type="submit" ng-click="editTask(info.id)"-->

                                 <!--class="btn btn-primary btn-sm editable-submit">-->
                           <!--<i class="glyphicon glyphicon-ok"></i>-->
                         <!--</button>-->
                        <!--<button type="button"-->
                                <!--ng-click="closeTask(info.id)"-->
                                <!--class="btn btn-default btn-sm editable-cancel">-->
                          <!--<i class="glyphicon glyphicon-remove"></i>-->
                        <!--</button></span>-->
                <!--</td>-->
                <td><a href="javascript:void(0);">22</a></td>
                <td>12</td>
                <td>23</td>
              </tr>
              <tr>
                <td>Employee Name2</td>
                <td><a href="javascript:void(0);">123</a></td>
                <td><a href="javascript:void(0);">22</a></td>
                <td>19</td>
                <td>90</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Wrapper -->
  <div class="page-footer">
    <p class="no-s">2016 &copy; Oompfh</p>
  </div>
</div>
<!-- Page Inner -->


<!-- Javascripts -->
<script src="assets/plugins/jquery/jquery-2.1.4.min.js"></script>
<script src="assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/plugins/switchery/switchery.min.js"></script>
<script src="assets/plugins/uniform/jquery.uniform.min.js"></script>
<script src="assets/plugins/offcanvasmenueffects/js/classie.js"></script>
<script src="assets/plugins/offcanvasmenueffects/js/main.js"></script>
<script src="assets/plugins/waves/waves.min.js"></script>
<script src="assets/plugins/3d-bold-navigation/js/main.js"></script>
<script src="assets/plugins/jquery-mockjax-master/jquery.mockjax.js"></script>
<script src="assets/plugins/moment/moment.js"></script>
<script src="assets/plugins/datatables/js/jquery.datatables.min.js"></script>
<script src="assets/plugins/x-editable/bootstrap3-editable/js/bootstrap-editable.js"></script>
<script src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="assets/js/modern.min.js"></script>
<script src="assets/js/pages/table-data.js"></script>
