<div class="page-inner">
  <div id="main-wrapper">
    <div class="row">
      <div class="col-md-3 center">
        <div class="login-box">
          <div class="user-box m-t-lg row">
            <div class="col-md-12 m-b-md">
              <img src="assets/images/profile-menu-image.png" class="img-circle m-t-xxs" alt="">
            </div>
            <div class="col-md-12">
              <p class="lead no-m text-center">Welcome Back, Prudhvi Raj!</p>
              <p class="text-sm text-center">Enter password to unlock</p>
              <form class="form-inline text-center">
                <div class="input-group">
                  <input type="password" class="form-control"   ng-model="password" placeholder="Password" required>
                  <div class="input-group-btn">
                    <button  class="btn btn-success" ng-click="getpasswordDetails();navigate = 'true'">Submit</button>
                  </div><!-- /btn-group -->
                </div><!-- /input-group -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div><!-- Row -->
  </div><!-- Main Wrapper -->
</div><!-- Page Inner -->