<!DOCTYPE html>
<html>
<head>

  <!-- Title -->
  <title>Oompfh | Login</title>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <meta charset="UTF-8">
  <meta name="description" content="Admin Dashboard Template" />
  <meta name="keywords" content="admin,dashboard" />
  <meta name="author" content="Steelcoders" />

  <!--<link href="assets/plugins/3d-bold-navigation/css/style.css" rel="stylesheet" type="text/css"/>-->

  <!--&lt;!&ndash; Theme Styles &ndash;&gt;-->
  <!--<link href="assets/css/themes/green1.css" class="theme-color" rel="stylesheet" type="text/css"/>-->
  <!--<link href="assets/css/custom.css" rel="stylesheet" type="text/css"/>-->
  <!--<script src="assets/plugins/3d-bold-navigation/js/modernizr.js"></script>-->
  <!--<script src="assets/plugins/offcanvasmenueffects/js/snap.svg-min.js"></script>-->
</head>
<body class="page-login">
<main class="page-content"
      style="background-image:url(http://workplaceprivacyreport.wp.lexblogs.com/wp-content/uploads/sites/162/2009/11/Employees-together.jpg)">
  <div class="page-inner">
    <div id="main-wrapper">
      <div class="row">
        <div class="col-md-3 center">
          <div class="login-box">
            <a href="#" class="logo-name text-lg text-center" style="margin-bottom:25px;">
            <img src="assets/images/logo_login.png"/>
             </a>
            <p class="text-center m-t-md">Please login into your account.</p>
            <form class="m-t-md">
              <div class="form-group">
                <input type="text"
                       class="form-control"
                       ng-model="empid"
                       style="background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                       border-color: -moz-use-text-color -moz-use-text-color: #dce1e4;
                       border-radius: 0;
                       border-style: none none solid;
                       border-width: medium medium 1px;
                       box-shadow: none !important;
                       font-size: 13px;
                       padding: 6px 10px !important;
                       transition: all 0.2s ease-in-out 0s;"
                       placeholder="Email" required>
              </div>
              <div class="form-group">
                <input type="password"
                       class="form-control"
                       ng-model="pwd"
                       style="background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                       border-color: -moz-use-text-color -moz-use-text-color: #dce1e4;
                       border-radius: 0;
                       border-style: none none solid;
                       border-width: medium medium 1px;
                       box-shadow: none !important;
                       font-size: 13px;
                       padding: 6px 10px !important;
                       transition: all 0.2s ease-in-out 0s;"
                       placeholder="Password" required>
              </div>
              <button type="submit"
                      ng-click="login(empid,pwd)"
                      class="btn btn-success btn-block"
                      style="margin-top:50px;">Login
              </button>
              <a href="forgot.html" class="display-block text-center m-t-md text-sm">Forgot Password?</a>
            </form>
            <p class="text-center m-t-xs text-sm">2016 &copy; Oompfh</p>
          </div>
        </div>
      </div>
      <!-- Row -->
    </div>
    <!-- Main Wrapper -->
  </div>
  <!-- Page Inner -->
</main>
<!-- Page Content -->
<script src="assets/js/modern.min.js"></script>
</body>
</html>
