<div class="page-inner">
    <div class="page-title">
        <h3>Personal Info</h3>

        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Personal Info</li>
            </ol>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Personal Info</h4>
                    </div>
                    <div class="panel-body" ng-hide="hide">
                        <div class="table-responsive">
                            <div class="form-group">
                                <div class="col-sm-offset-10 col-sm-2">
                                    <button ui-sref="personal-info-edit" class="btn btn-success" type="submit">Edit
                                    </button>
                                </div>
                            </div>
                            <table id="example-editable" class="display table" style="width: 100%; cellspacing: 0;">
                                <tbody>
                                <tr>
                                    <td><a href="javascript:void(0);">Title</a></td>
                                    <td><a href="javascript:void(0);">{{PersonalDetails.title}}</a></td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:void(0);">First Name</a></td>
                                    <td><a href="javascript:void(0);">{{PersonalDetails.employee_name}}</a></td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:void(0);">DOB</a></td>
                                    <td><a href="javascript:void(0);">{{PersonalDetails.birthday|date:"dd-MMM-yyyy"}}</a></td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:void(0);">Gender</a></td>
                                    <td><a href="javascript:void(0);">{{PersonalDetails.gender}}</a></td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:void(0);">Blood Group</a></td>
                                    <td><a href="javascript:void(0);">{{PersonalDetails.blood_group}}</a></td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:void(0);">E-mail Id</a></td>
                                    <td><a href="javascript:void(0);">{{PersonalDetails.personal_mail_id}}</a></td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:void(0);">Phone Number</a></td>
                                    <td><a href="javascript:void(0);">{{PersonalDetails.phone_number}}</a></td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:void(0);">Address</a></td>
                                    <td><a href="javascript:void(0);">{{PersonalDetails.present_address}}</a></td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:void(0);">Family Contact Number</a></td>
                                    <td><a href="javascript:void(0);">{{PersonalDetails.family_contact_number}}</a></td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:void(0);">Permanent Address</a></td>
                                    <td><a href="javascript:void(0);">{{PersonalDetails.permanent_address}}</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-show="show">
                        <div class="panel-body">
                            <p style="text-align:center;font-size: 36px;color:#0BA0BB;">
                                Hey you have not created your profile yet ...!!</p>

                            <div class="form-group" style="padding-top:20px;">
                                <div class="col-sm-offset-5 col-sm-7s">
                                    <button ui-sref="personal-info-edit" class="btn btn-success" type="submit">
                                        click here to create new profile
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
    </div>
    <!-- Main Wrapper -->
    <div class="page-footer">
        <p class="no-s">2016 &copy; Oompfh.com</p>
    </div>
</div><!-- Page Inner -->

<!-- Javascripts -->
<script src="assets/plugins/jquery/jquery-2.1.4.min.js"></script>
<script src="assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/plugins/switchery/switchery.min.js"></script>
<script src="assets/plugins/uniform/jquery.uniform.min.js"></script>
<script src="assets/plugins/offcanvasmenueffects/js/classie.js"></script>
<script src="assets/plugins/offcanvasmenueffects/js/main.js"></script>
<script src="assets/plugins/waves/waves.min.js"></script>
<script src="assets/plugins/3d-bold-navigation/js/main.js"></script>
<script src="assets/plugins/jquery-mockjax-master/jquery.mockjax.js"></script>
<script src="assets/plugins/moment/moment.js"></script>
<script src="assets/plugins/datatables/js/jquery.datatables.min.js"></script>
<script src="assets/plugins/x-editable/bootstrap3-editable/js/bootstrap-editable.js"></script>
<script src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="assets/js/modern.min.js"></script>
<script src="assets/js/pages/table-data.js"></script>
