<div class="page-inner">
    <div class="page-title">
        <h3>PERSONAL INFO</h3>

        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Info</a></li>
            </ol>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <p class="no-s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard...</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white" ng-init="getPersonalDetails()">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Personal Info</h4>
                    </div>
                    <div class="panel-body">
                        <form name="personalForm" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Title</label>

                                <div class="col-sm-5">
                                    <select class="form-control m-b-sm" ng-model="PersonalDetails.title" required>
                                        <option>Mr.</option>
                                        <option>Miss.</option>
                                        <option>Mrs.</option>
                                        <option>Dr.</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-Default">Full Name</label>

                                <div class="col-sm-5">
                                    <input name="fullName" type="text" id="input-Default" class="form-control"
                                           placeholder="Full Name"
                                           ng-model="PersonalDetails.employee_name" required>
                                </div>
                                <span ng-show="personalForm.fullName.$error.required &&
                                               personalForm.fullName.$dirty &&
                                               personalForm.fullName.$invalid"
                                      style="color:red">Enter Full name</span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">DOB</label>

                                <div class="col-sm-5">
                                    <md-datepicker ng-model="PersonalDetails.birthday" md-placeholder="enter date"
                                                   required></md-datepicker>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Gender</label>

                                <div class="col-sm-5">
                                    <select class="form-control m-b-sm" ng-model="PersonalDetails.gender" required>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Blood Group</label>

                                <div class="col-sm-5">
                                    <select class="form-control m-b-sm" ng-model="PersonalDetails.blood_group" required>
                                        <option>Select Blood Group</option>
                                        <option>O+</option>
                                        <option>B+</option>
                                        <option>AB+</option>
                                        <option>AB-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="inputEmail3">Email</label>

                                <div class="col-sm-5">
                                    <input name="email" type="email" placeholder="Email" id="inputEmail3"
                                           class="form-control"
                                           ng-model="PersonalDetails.personal_mail_id" required>
                                </div>
                                <span style="color:red"
                                      ng-show="personalForm.email.$dirty &&
                                               personalForm.email.$invalid">
  <span ng-show="personalForm.email.$error.required">Email is required.</span>
  <span ng-show="personalForm.email.$error.email">Invalid email address.</span>
  </span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="inputPassword3">Phone Number</label>

                                <div class="col-sm-5">
                                    <input limit-to="10" min="999999999" max="9999999999" name="phNo" type="number"
                                           placeholder="Phone Number" id="inputPassword3"
                                           class="form-control" ng-model="PersonalDetails.phone_number" required>
                                </div>
                                <span ng-show="personalForm.phNo.$error.required &&
                                               personalForm.phNo.$dirty &&
                                               personalForm.phNo.$invalid"
                                      style="color:red">Enter Phone number</span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="inputPassword3">Present Address</label>

                                <div class="col-sm-5">
                                    <input name="presentAddress" type="text" placeholder="Present Address"
                                           id="inputPassword3"
                                           class="form-control" ng-model="PersonalDetails.present_address" required>
                                </div>
                                <span ng-show="personalForm.presentAddress.$error.required &&
                                               personalForm.presentAddress.$dirty &&
                                               personalForm.presentAddress.$invalid"
                                      style="color:red">Enter Present Address</span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="inputPassword3">Family Contact Number</label>

                                <div class="col-sm-5">
                                    <input limit-to="10" min="999999999" max="9999999999" name="homeNo" type="number"
                                           placeholder="Family Contact Number"
                                           id="inputPassword3"
                                           class="form-control" ng-model="PersonalDetails.family_contact_number"
                                           maxlength="10" required>
                                </div>
                                <span ng-show="personalForm.homeNo.$error.required &&
                                               personalForm.homeNo.$dirty &&
                                               personalForm.homeNo.$invalid"
                                      style="color:red">Enter Family Contact number</span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="inputPassword3">Permanent Address</label>

                                <div class="col-sm-5">
                                    <input name="permanentAddress" type="text" placeholder="Permanent Address"
                                           id="inputPassword3"
                                           class="form-control" ng-model="PersonalDetails.permanent_address" required>
                                </div>
                                <span ng-show="personalForm.permanentAddress.$error.required &&
                                               personalForm.permanentAddress.$dirty &&
                                               personalForm.permanentAddress.$invalid"
                                      style="color:red">Enter Permanent Address</span>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button class="btn btn-success" type="submit" ng-click="savePersonalDetails()"
                                            ng-disabled="personalForm.$invalid">
                                        Save
                                    </button>
                                    <button ui-sref="personal-info-view" class="btn btn-success" type="submit">Cancel
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->

        <!-- Row -->

    </div>
    <!-- Main Wrapper -->
    <div class="page-footer">
        <p class="no-s">2016 &copy; Oompfh</p>
    </div>
</div>
<!-- Page Inner -->