<div class="page-inner">
  <div class="page-title">
    <h3>Planner</h3>

    <div class="page-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Planner</a></li>
      </ol>
    </div>
  </div>
  <div id="main-wrapper">

    <!-- Row -->

    <div class="row">
      <div class="panel panel-white">

        <div class="panel-body">
          <div role="tabpanel">
            <div class="table-responsive">
              <div class="form-group" style="margin-bottom:30px; float:left;">
                <div class="col-sm-6">
                  <input type="text" ng-model="task" placeholder="Enter Your Task" class="form-control"
                         id="input-Default">
                </div>
                <div class="col-sm-3">
                  <md-datepicker ng-model="data_creation_date"
                                 md-placeholder="enter date">
                  </md-datepicker>
                </div>

                <div class="col-sm-3">
                  <label for="input-Default" class="col-sm-3 control-label" style="padding-left:70px;">
                    <button type="submit" class="btn btn-success" ng-click="savePlanner();">ADD</button>
                  </label>
                </div>
              </div>
            </div>

            <!-- Nav tabs -->
            <ul role="tablist" class="nav nav-tabs nav-justified">
              <li class="active" role="presentation"><a data-toggle="tab" role="tab" href="#tab21"
                                                        aria-expanded="false">To DO's</a></li>
              <li role="presentation" class=""><a data-toggle="tab" role="tab" href="#tab22" aria-expanded="false">Closed
                Tasks</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div id="tab21" class="tab-pane fade active in" role="tabpanel">
                <p>

                <div class="panel-body">
                  <table id="" class="display table" style="width: 100%; cellspacing: 0;">
                    <thead>
                    <tr>
                      <th>Task</th>
                      <th>Done</th>
                      <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="info in fetchTasksData | taskFilter : 'open'">
                      <td>
                        <a class="task_{{info.id}}"  id="link[{{info.id}}]"  ng-click="changeOptions(info.id,info.task);">
                          {{info.task}}
                        </a>

                       <span class="in_{{info.id}}"  style="display: none">
                           <input type="text"  class="in_{{info.id}}"   id="input[{{info.id}}]" ng-model="info.task">
                         <button type="submit" ng-click="editTask(info.id,info.task)"

                                 class="btn btn-primary btn-sm editable-submit">
                           <i class="glyphicon glyphicon-ok"></i>
                         </button>
                        <button type="button"
                                ng-click="closeEditTask(info.id,info.task)"
                                class="btn btn-default btn-sm editable-cancel">
                          <i class="glyphicon glyphicon-remove"></i>
                        </button></span>
                      </td>
                      <td>
                        <a href="javascript:void(0);" class="glyphicon glyphicon-thumbs-up text-success" type="submit" ng-click="closeTask(info.id,info.task)"></a>
                      </td>
                      <td><a ng-click="deleteTask(info.id);"><span class="glyphicon glyphicon-trash text-danger"></span></a></td>
                    </tr>


                    </tbody>
                  </table>
                </div>
                </p>
              </div>
              <div id="tab22" class="tab-pane fade" role="tabpanel">
                <p>

                <div class="panel-body">

                  <table class="table">
                    <thead>
                    <tr>
                      <th>Task</th>
                      <th>Re open</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="info in fetchTasksData | taskFilter : 'closed'">
                      <td>{{info.task}}</td>
                      <td>
                        <a href="javascript:void(0);"><span class="glyphicon glyphicon-inbox text-info" type="submit" ng-click="openTask(info.id,info.task)"></span></a>
                      </td>
                    </tr>

                    </tbody>
                  </table>
                </div>
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Row -->

    <!-- Row -->

  </div>
  <!-- Main Wrapper -->
  <div class="page-footer">
    <p class="no-s">2016 &copy; Oompfh.com</p>
  </div>
</div>


<!-- Javascripts -->
<script src="assets/plugins/jquery/jquery-2.1.4.min.js"></script>
<script src="assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/plugins/switchery/switchery.min.js"></script>
<script src="assets/plugins/uniform/jquery.uniform.min.js"></script>
<script src="assets/plugins/offcanvasmenueffects/js/classie.js"></script>
<script src="assets/plugins/offcanvasmenueffects/js/main.js"></script>
<script src="assets/plugins/waves/waves.min.js"></script>
<script src="assets/plugins/3d-bold-navigation/js/main.js"></script>
<script src="assets/plugins/jquery-mockjax-master/jquery.mockjax.js"></script>
<script src="assets/plugins/moment/moment.js"></script>
<script src="assets/plugins/datatables/js/jquery.datatables.min.js"></script>
<script src="assets/plugins/x-editable/bootstrap3-editable/js/bootstrap-editable.js"></script>
<script src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="assets/js/modern.min.js"></script>
<script src="assets/js/pages/table-data.js"></script>
