<script src="assets/js/modern.min.js"></script>
<script src="assets/js/pages/profile.js"></script>

<div ng-controller="uploadController">

    <div class="page-inner">
        <div class="profile-cover">


            <div class="row">
                <div class="col-md-3 profile-image">


                    <div class="profile-image-container">
                        <img src="assets/images/{{uploadpics || 'default.png'}}" style="background-image: url(assets/images/avatar.jpg);" alt="">

                        <div>
                            <form id="uploadForm" ng-model="uploadform" enctype="multipart/form-data" action="" method="post"
                                  name="myForm">
                                <label title="Upload image file" for="inputImage" class="btn btn-success btn-upload" >
                                    <button ngf-select
                                            ng-click="showCropArea = 'true'"
                                            ng-disabled="!details"
                                            ng-model="picFile"
                                            accept="image/gif,image/jpeg,image/png,image/jpg"
                                            id="inputImage" class="sr-only"
                                            data-toggle="modal"
                                            data-target="#myModal">

                                        Select Picture
                                    </button>
                   <span title="" data-toggle="tooltip" class="docs-tooltip" data-original-title="Upload Profile">
                            <span class="fa fa-upload"></span>
                        </span>
                                </label>


                                <!--                 <button type="submit" ng-click="upload(croppedDataUrl)">submit</button>-->


                            </form>

                        </div>

                    </div>

                </div>
            </div>


            <div id="cropModal" class="container" ng-show="showCropArea">
                <div class="modal fade" data-backdrop="static" data-keyboard="false"   id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" data-dismiss="modal">Adjust your picture</h4>
                            </div>
                            <div class="modal-body">
                                <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
                                     class="cropArea">
                                    <img-crop image="picFile  | ngfDataUrl"
                                              result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                                    </img-crop>
                                    <img ng-src="{{croppedDataUrl}}"/>
                                </div>
                                <div class="modal-footer">
                                    <!-- <button type="button" class="btn btn-default" data-dismiss="modal">update </button>-->
                                    <button ng-disabled="!picFile" class="btn btn-default" ng-click="upload(croppedDataUrl);"
                                            style="background-color: #22BAA0;">Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--        <div>
                            <img ng-src="{{croppedDataUrl}}" />
                        </div>
                        -->
            </div>
        </div>
        <div>
        </div>

        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-3 user-profile">
                    <h3 class="text-center" ng-controller="viewController">{{PersonalDetails.employee_name}}</h3>

                    <p class="text-center" ng-controller="profileViewController">{{details.designation}}</p>
                    <hr>
                    <ul class="list-unstyled text-center">
                        <li>
                            <p><i class="fa fa-map-marker m-r-xs"></i>Madhapur, Hyderabad.</p>
                        </li>
                        <li>
                            <p ng-controller="profileViewController"><i class="fa fa-envelope m-r-xs"></i><a href="#">{{details.office_mail_id}}</a></p>
                        </li>
                        <li>
                            <p><i class="fa fa-link m-r-xs"></i><a href="#">www.oompfh.com</a></p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9" ng-controller="profileViewController">
                    <div class="col-md-12">
                        <div class="panel panel-white">
                            <div class="panel-body" ng-hide="hide">
                                <form class="form-horizontal ">
                                    <div class="form-group">
                                        <div class="col-sm-offset-8 col-sm-4">
                                            <button ui-sref="profile-edit" class="btn btn-success" type="submit">Edit
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="col-sm-4  control-label" for="input-Default">Designation</label>

                                        <div class="col-sm-6">
                                            <label class="col-sm-6 control-label" for="input-Default">{{details.designation}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="input-Default">Experience</label>

                                        <div class="col-sm-6">
                                            <label class="col-sm-6 control-label"
                                                   for="input-Default">{{details.experience}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="input-Default">Current Project</label>

                                        <div class="col-sm-6">
                                            <label class="col-sm-6 control-label" for="input-Default">{{details.current_project}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="input-Default">Past Project</label>

                                        <div class="col-sm-6">
                                            <label class="col-sm-6 control-label" for="input-Default">{{details.past_project}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="input-Default">Expertise Skills</label>

                                        <div class="col-sm-6">
                                            <label class="col-sm-6 control-label" for="input-Default">{{details.expertise_skill}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="input-Default">Emp Id</label>

                                        <div class="col-sm-6">
                                            <label class="col-sm-6 control-label"
                                                   for="input-Default">{{details.emp_id}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="input-Default">Joining Date</label>

                                        <div class="col-sm-6">
                                            <label class="col-sm-6 control-label" for="input-Default">{{details.joining_date|date:"dd-MMM-yyyy"}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="input-Default">Skype Id</label>

                                        <div class="col-sm-6">
                                            <label class="col-sm-6 control-label"
                                                   for="input-Default">{{details.skype_id}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="input-Default">Oompfh Id</label>

                                        <div class="col-sm-6">
                                            <label class="col-sm-6 control-label" for="input-Default">{{details.office_mail_id}}</label>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div ng-show="show">
                                <div class="panel-body">
                                    <p style="text-align:center;font-size: 30px;color:#0BA0BB;"> Hey you have not created
                                        your profile yet ...!!</p>

                                    <div class="form-group" style="padding-top:10px">
                                        <div class="col-sm-offset-4 col-sm-7s">
                                            <button ui-sref="profile-edit" class="btn btn-success" type="submit">Click here
                                                to create new profile
                                            </button>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-footer">
            <p class="no-s">2016 &copy; Oompfh.com</p>
        </div>
    </div>

</div>
<!-- Page Inner -->