<div class="page-inner">
  <div class="profile-cover">
    <div class="row">
      <div class="col-md-3 profile-image">
        <div class="profile-image-container"><img src="assets/images/{{uploadpics || 'default.png'}}"  style="background-image: url(assets/images/avatar.jpg);" alt=""></div>
      </div>
    </div>
  </div>
  <div id="main-wrapper">
    <div class="row">
      <div class="col-md-3 user-profile">
        <h3 class="text-center" ng-controller="viewController">{{PersonalDetails.employee_name}}</h3>

        <p class="text-center">{{details.designation}}</p>
        <hr>
        <ul class="list-unstyled text-center">
          <li>
            <p><i class="fa fa-map-marker m-r-xs"></i>Madhapur, Hyderabad.</p>
          </li>
          <li>
            <p><i class="fa fa-envelope m-r-xs"></i><a href="#">{{details.office_mail_id}}</a></p>
          </li>
          <li>
            <p><i class="fa fa-link m-r-xs"></i><a href="#">www.oompfh.com</a></p>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <div class="col-md-12">
          <div class="panel panel-white">
            <div class="panel-body">
              <form class="form-horizontal" name="userForm">
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-Default">Designation</label>

                  <div class="col-sm-3">
                    <input type="text" id="input-Default" class="form-control" name="designation"
                           ng-model="details.designation" placeholder="Enter Your Designation"
                           required="">

                  </div>
                  <p ng-show="userForm.designation.$error.required &&
                                    userForm.designation.$dirty &&
                                     userForm.designation.$invalid"
                     style="color:red;">Designation field is to be filled!!</p>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-Default">Experience</label>

                  <div class="col-sm-3">
                    <input type="number" id="input-Default" class="form-control" maxlength="2"
                           name="experience" ng-model="details.experience"
                           placeholder="Enter Your Experience" required>
                  </div>
                  <p ng-show="userForm.experience.$error.required &&
                                    userForm.experience.$dirty &&
                                    userForm.experience.$invalid"
                     style="color:red;">Experience field is to be filled!!</p>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-Default">Current Project</label>

                  <div class="col-sm-3">
                    <input type="text" id="input-Default" class="form-control" name="currentproject"
                           ng-model="details.current_project"
                           placeholder="Enter Your Current Project"
                           required>
                  </div>
                  <p ng-show="userForm.currentproject.$error.required &&
                                    userForm.currentproject.$dirty &&
                                     userForm.currentproject.$invalid"
                     style="color:red;">Please fill the current project!!</p>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-Default">Past Project</label>

                  <div class="col-sm-3">
                    <input type="text" id="input-Default" class="form-control" name="pastproject"
                           ng-model="details.past_project" placeholder="Enter Your Past Project"
                           required>
                  </div>
                  <p ng-show="userForm.pastproject.$error.required &&
                                     userForm.pastproject.$dirty &&
                                     userForm.pastproject.$invalid"
                     style="color:red;">Please fill the past project!!</p>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-Default">Expertise Skills</label>

                  <div class="col-sm-3">
                    <input type="text" id="input-Default" class="form-control"
                           name="expertiseskills" ng-model="details.expertise_skill"
                           placeholder="Enter Your Expestise Skills" required>
                  </div>
                  <p ng-show="userForm.expertiseskills.$error.required &&
                                    userForm.expertiseskills.$dirty &&
                                    userForm.expertiseskills.$invalid"
                     style="color:red;">Please fill your skills!!</p>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-Default">Emp Id</label>

                  <div class="col-sm-3">
                    <input type="number" id="input-Default" class="form-control" name="empid"
                           ng-model="details.emp_id" placeholder="Enter Your Emp Id" required>
                  </div>
                  <p ng-show="userForm.empid.$error.required &&
                                    userForm.empid.$dirty &&
                                    userForm.empid.$invalid"
                     style="color:red;">Please fill the employee Id!!</p>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-Default">Joining Date</label>

                  <div class="col-sm-3">
                    <md-datepicker ng-model="details.joining_date"
                                   md-placeholder="enter date"></md-datepicker>
                  </div>

                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-Default">Skype Id</label>

                  <div class="col-sm-3">
                    <input type="text" id="input-Default" class="form-control" name="skypeid"
                           ng-model="details.skype_id" placeholder="Enter Your Skype Id" required>
                  </div>
                  <p ng-show="userForm.skypeid.$error.required &&
                                    userForm.skypeid.$dirty &&
                                    userForm.skypeid.$invalid"
                     style="color:red;">Please fill the Skype Id!!</p>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-Default">Oompfh Id</label>

                  <div class="col-sm-3">
                    <input type="text" id="input-Default" class="form-control"
                           ng-model="details.office_mail_id"
                           name="oompfhid" placeholder="Enter Your Oompfh Id" required>
                  </div>
                  <p ng-show="userForm.oompfhid.$error.required &&
                                    userForm.oompfhid.$dirty &&
                                    userForm.oompfhid.$invalid  "
                     style="color:red;">Please fill the oompfh mail Id!!</p>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-success" ng-click="saveProfileDetails()" type="submit"
                            ng-disabled="userForm.$invalid">Save
                    </button>
                    <button ui-sref="profile-view" class="btn btn-success" type="submit">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-footer">
    <p class="no-s">2016 &copy; Oompfh.com</p>
  </div>
</div>
<!-- Page Inner -->

